@use '../variables' as *;
@use 'sass:color';

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
    min-height: 56px;
    font-weight: 600;
    line-height: 120%;
    border-radius: 100px;
    border: none;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(0);
    }
}

.button--primary {
    background-color: $primary-color;
    color: #fff;
    min-height: 60px;
    min-width: 256px;
    margin-left: 1px;
    font-size: 18px;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -4%);
    }
}

.button--secondary {
    background-color: #fdf0ea;
    color: $primary-color;
    font-size: 18px;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: 25%);
    }
}

.button--tag {
    margin-top: 7px;
    padding: 20px 20px;
    min-height: auto;
    background-color: #f5f5f5;
    color: $dark-gray;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 3px;
    transition: transform 0.2s ease;

    &:hover {
        background-color: #e8e8e8;
        transform: translateY(-2px);
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.048);
    }

    &:active {
        transform: translateY(0);
    }
}
