@use '../variables' as *;

.slider-nav {
    display: flex;
    gap: 18px;
    margin-right: 5px;

    &__btn {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $bg-light-gray;
        border-radius: 50%;
        border: none;
        color: $dark-gray;
        margin: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;

        &:after {
            font-size: 32px;
            line-height: 1;
            font-weight: 400;
            width: 100%;
            height: 100%;
            transform: translateY(8%);
        }

        &--prev:after {
            content: '‹';
        }

        &--next:after {
            content: '›';
        }

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
    @media (max-width: 767px) {
        display: none;
    }
}
