@use '../mixins/mixins' as *;
@use '../variables' as *;

.faq {
    padding: 106px 0 100px;

    .container {
        background-color: $bg-light-gray;
        border-radius: 32px;
        padding: 60px 0 40px 0;
        @media (max-width: 1340px) {
            padding: 30px 20px;
            margin: 0 20px;
        }
    }

    &__inner {
        max-width: 1236px;
        margin: 0 auto;
    }

    &__title {
        @include heading-medium;
        text-align: center;
        margin: 0 0 30px;
        color: $dark-gray;
    }

    &__accordion {
        display: flex;
        flex-direction: column;
    }

    .accordion-item {
        margin-bottom: 30px;
        background-color: #fff;
        &__content p {
            @include body-text;
            font-size: 18px;
            line-height: 170%;
            letter-spacing: 0;
        }
    }
}
