@use '../mixins/mixins' as *;
@use '../variables' as *;

.features {
    padding: 30px 0 55px;
    background-color: $bg-light-gray;
    border-radius: 32px;
    margin: 0 auto;
    max-width: 1856px;
    width: calc(100% - 50px);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 20px;
            padding: 0 60px;
        }
    }

    &__visual {
        margin-top: 25px;
        flex-shrink: 0;
    }

    &__phone {
        width: 600px;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 600px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        margin-top: 10px;
        flex: 1;
        max-width: 660px;
    }

    &__title {
        @include heading-medium;
        margin: 0 0 30px;
        color: $dark-gray;
    }

    &__description {
        @include body-text;
        margin: 0 0 32px;
        letter-spacing: 0.15px;
        line-height: 165%;
        color: $gray;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 0 35px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__list-item {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        img {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            margin-top: 2px;
        }

        span {
            @include body-text;
            letter-spacing: 0.1px;
        }
        @media (max-width: 767px) {
            align-items: center;
        }
    }
    &__cta {
        transform: translateY(10px);
        &.button{
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}
