@use '../mixins/mixins' as *;
@use '../variables' as *;

.guide {
    padding: 100px 0 105px 0;
    border-radius: 32px;
    margin: 0 auto;
    max-width: 1856px;
    width: calc(100% - 50px);
    padding: 100px 0;
    background-color: $bg-light-gray;

    @media (max-width: 767px) {
        padding: 40px 0;
        width: 100%;
        border-radius: 0;
        background-color: $light-gray;
    }

    .container {
        background-color: $bg-light-gray;
        @media (max-width: 767px) {
            padding: 40px 40px;
            margin: 0 20px;
            border-radius: 25px;
        }
    }

    &__header {
        max-width: 1340px;
        margin: 0 auto 32px;
        text-align: left;

        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
    }

    &__title {
        @include heading-medium;
        max-width: 560px;
        margin-bottom: 32px;
        color: $dark-gray;

        @media (max-width: 767px) {
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__description {
        @include body-text;
        max-width: 740px;

        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width: 767px) {
            gap: 24px;
        }
    }
}

.guide-card {
    background-color: $light-gray;
    border-radius: 32px;
    padding: 30px 32px;
    display: flex;
    flex-direction: row;
    gap: 80px;

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 24px;
        gap: 20px;
        border-radius: 20px;
    }

    &--ios {
        .guide-card__content {
            order: 1;
        }

        .guide-card__visual {
            order: 2;
        }

        @media (max-width: 1024px) {
            .guide-card__content,
            .guide-card__visual {
                order: initial;
            }
        }

        @media (max-width: 767px) {
            .guide-card__visual {
                order: 1;
            }

            .guide-card__content {
                order: 2;
            }
        }
    }

    &__visual {
        background-color: $bg-light-gray;
        border-radius: 24px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            border-radius: 16px;
            padding: 20px;
        }

        img {
            max-width: 620px;
            height: auto;
            @media (max-width: 1024px) {
                max-width: 200px;
            }
            @media (max-width: 767px) {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;

        @media (max-width: 767px) {
            gap: 16px;
        }
    }

    &__title {
        @include heading-small;

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__text {
        @include body-text;
        margin-bottom: 5px;
        letter-spacing: 0.2px;

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__button {
        align-self: flex-start;

        @media (max-width: 1024px) {
            align-self: center;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
