@use '../mixins/mixins' as *;
@use '../variables' as *;

.info {
    padding: 100px 0 105px 0;
    background-color: $bg-ultra-dark;
    border-radius: 32px;
    margin: 0 auto;
    max-width: 1856px;
    width: calc(100% - 50px);
    margin-bottom: 100px;

    &__title {
        @include heading-medium;
        text-align: left;
        margin-bottom: 35px;
        color: #fff;
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }

    &__table {
        max-width: 1340px;
        margin: 0 auto;
        background-color: #1a1919;
        border-radius: 32px;
        padding: 65px;

        @media (max-width: 767px) {
            padding: 40px 20px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 310px 1fr 60px;
        gap: 5px;
        width: 100%;
        padding: 30px 10px;
        margin-left: -10px;
        border-radius: 23px;
        background-color: $bg-ultra-dark;
        margin-bottom: 8px;
        align-items: center;
        transition: background-color 0.25s ease, transform 0.25s ease;

        &:hover {
            transform: translateY(-2px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 767px) {
            grid-template-columns: 200px 1fr 50px;
            gap: 12px;
            padding: 20px;
            min-width: 600px;
            margin-left: 0;
        }
    }

    &__label {
        padding-left: 25px;
        font-size: 20px;
        line-height: 120%;
        font-weight: 600;
        color: $light-gray;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__value {
        margin-left: 33px;
        @include body-text;
        color: $light-gray;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__number {
        margin-right: 27px;
        @include body-text;
        color: $light-gray;
        text-align: right;

        @media (max-width: 768px) {
            text-align: left;
        }
    }
}
