@use '../mixins/mixins' as *;
@use '../variables' as *;

.ipl {
    margin: 100px 32px 0 32px;
    border-radius: 32px;
    background-color: $bg-light-gray;
    padding: 100px 0 90px;

    @media (max-width: 1340px) {
        margin: 40px 0 0 0;
        border-radius: 0;
        padding: 40px 20px;
    }

    &__inner {
        .container {
            display: flex;

            @media (max-width: 1340px) {
                flex-direction: column;
                padding: 0 60px;
            }
        }
    }

    &__image-wrapper {
        @media (max-width: 1340px) {
            order: 1;
            max-width: 600px;
            margin: 0 auto 24px;
        }
    }

    &__image {
        max-width: 40vw;
        @media (max-width: 1340px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__content {
        margin: 125px 0 0 80px;
        max-width: 800px;
        display: flex;
        flex-direction: column;

        @media (max-width: 1340px) {
            order: 2;
            margin: 0;
            max-width: 100%;
        }
    }

    &__title {
        @include heading-medium;
        margin-bottom: 35px;

        @media (max-width: 1340px) {
            order: 1;
            margin-bottom: 16px;
        }
    }

    &__subtitle {
        @include body-text;
        margin-bottom: 65px;
        max-width: 649px;
        font-size: 18px;

        @media (max-width: 1340px) {
            order: 2;
            margin-bottom: 24px;
            max-width: 100%;
        }
    }

    &__swiper {
        width: 670px;
        position: relative;

        @media (max-width: 1340px) {
            order: 3;
            width: 100%;
        }
    }

    &__swiper-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        width: 100%;
        max-width: 100%;

        @media (max-width: 1340px) {
            gap: 12px;
            margin-top: 24px;
            order: 4;
            padding: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            color: $dark-gray;
            margin: 0;
            top: auto;
            left: auto;
            right: auto;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1340px) {
                width: 36px;
                height: 36px;
            }

            &:after {
                font-size: 14px;
                line-height: 1;
                font-weight: 800;

                @media (max-width: 1340px) {
                    font-size: 12px;
                }
            }

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }

        // Progress-bar
        .swiper-pagination {
            margin-top: 16px;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            width: auto !important;
            @media (max-width: 1340px) {
                margin-top: 0;
                bottom: 0 !important;
            }

            .swiper-pagination-bullet {
                width: 100px;
                height: 8px;
                border-radius: 100px;
                background-color: #c5c5c5;
                opacity: 1;
                margin: 0;
                transition: width 0.3s ease, background-color 0.3s ease;

                &.swiper-pagination-bullet-active {
                    width: 335px;
                    background-color: $primary-color;

                    @media (max-width: 1340px) {
                        width: 120px;
                    }
                }

                @media (max-width: 1340px) {
                    width: 40px;
                    height: 6px;
                }
            }
        }
    }
}

// Slider
.swiper-navigation-icon {
    display: none;
}
.ipl__swiper {
    .swiper-slide {
        height: auto;
    }
}
