@use '../mixins/mixins' as *;
@use '../variables' as *;

.live {
    padding: 35px 0 100px;

    @media (max-width: 767px) {
        padding: 60px 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
    }

    &__title {
        @include heading-medium;
        margin: 0;
    }

    &__swiper {
        .swiper-slide {
            height: auto;
        }
    }
}

.live-card {
    background-color: $bg-light-gray;
    border-radius: 25px;
    padding: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    &__venue {
        font-size: 18px;
        font-weight: 700;
        color: $dark-gray;
        margin: 6px 0;
    }

    &__date {
        @include body-text;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 35px;
    }

    &__teams {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        @media (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            align-items: start;
            gap: 30px;
            margin-left: 15px;
        }
    }

    &__team {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 48px;
            height: 48px;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__team-name {
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 1px;
    }

    &__team-odds {
        font-size: 14px;
        color: $gray;
    }

    &__vs {
        font-size: 26px;
        font-weight: 800;
        color: $primary-color;
        font-style: italic;
    }

    &__button {
        margin-top: 31px;
        width: calc(100% - 2px);
    }
}
