@use '../mixins/mixins' as *;
@use '../variables' as *;

.reviews {
    background-color: $light-gray;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__title {
        @include heading-medium;
        margin: 0;
    }

    &__swiper {
        .swiper-slide {
            height: auto;
        }
    }
}

.review-card {
    background-color: $bg-light-gray;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 26px;
    height: 100%;

    @media (max-width: 1150px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
    }

    &__header {
        display: none;

        @media (max-width: 1150px) {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;
        }
    }

    &__avatar {
        flex-shrink: 0;
        width: 275px;
        height: auto;
        border-radius: 24px;
        overflow: hidden;
        align-self: flex-start;

        @media (max-width: 1150px) {
            width: 80px;
            height: 80px;
            align-self: auto;
        }

        &--desktop {
            display: block;

            @media (max-width: 1150px) {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 22px;
        flex: 1;

        &--desktop {
            display: flex;
            margin-top: -20px;

            @media (max-width: 1150px) {
                display: none;
            }
        }

        @media (max-width: 1150px) {
            flex: 1;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin-left: 5px;
        max-width: 525px;

        @media (max-width: 1150px) {
            display: none;
        }

        .review-card__text {
            @media (max-width: 1150px) {
                display: none;
            }
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        color: $dark-gray;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__rating {
        display: flex;
        gap: 10px;
        margin: 0;

        svg {
            width: 22px;
            height: 22px;
            color: $primary-color;

            @media (max-width: 768px) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__text {
        @include body-text;
        margin: 0;
        color: $gray;
        line-height: 170%;

        &--mobile {
            display: none;

            @media (max-width: 1150px) {
                display: block;
                width: 100%;
            }
        }
    }
}
